@charset "utf-8";
/* CSS Document * 57ade5  ff6600 */
.hotel-book2{width:1200px;margin:0 auto;}
.hotel-book2-left{width:730px;float:left;margin-left: 50px;}
.hotel-info{width:100%;margin-bottom:70px;}
.hotel-info>span{font-size:14px;color:#333;line-height:50px;margin-right:10px;}
.hotel-info>p{font-size:18px;color:#333;line-height:42px;}
.choose-house-num>.house-num{
    width: 137px;
    height: 34px;
    border: 1px solid #ccc;
    padding-left: 16px;
    border-radius: 4px;
    display: inline-block;
    line-height: 34px;
    background: url(//file.40017.cn/assets/tmc/images/destination-icon.png) 109px center no-repeat;
    cursor: pointer;
    margin-right: 25px;
}
.choose-house-num>.choose-house-rule {
    color: #f63;
}
.choose-house-num>span{font-size:14px;color:#333;}
.prize-total{font-size:14px;color:#333;line-height: 54px;}
.prize-total>span{color:#ff6600;}
/*.date-hotel{margin-top:18px;}*/
.date-hotel>li{width:78px;height:100px; text-align:center;border:1px solid #ddd;font-size:12px;line-height:20px;float:left;margin-right:-1px;}
.date-hotel>li>p{background:#f2f2f2;line-height:18px;padding:4px 0;margin-bottom:8px;}
.date-hotel>li>span{color:#ff6600;}
.hotel-info2{width:100%;margin-bottom:70px;}
.hotel-info2>p{font-size:18px;color:#333;line-height:42px;}
.hotel-info2>p>span {
    margin-left: 43px;
    font-size: 14px;
}
.hotel-info2-guest>div{font-size:14px;color:#333;line-height:34px;}
.hotel-info2-guest>div>span{float:left;padding-left:10px;width:70px;}
.hotel-info2-guest>div .accommodation-name{
    border:1px solid #e9e9e9;
    width:166px;
    height:34px;
    line-height:34px;
    padding-left: 10px;
    border-radius:4px;
    float: left;
    background: url(//file.40017.cn/assets/tmc/images/destination-icon.png) 150px center no-repeat;
    cursor: pointer;
    color: #999;
}
.hotel-info2-guest>div .approval-name-select{
    border:1px solid #e9e9e9;
    width:176px;
    height:34px;
    line-height:34px;
    padding-left: 10px;
    border-radius:4px;
    float: left;
    background: url(//file.40017.cn/assets/tmc/images/destination-icon.png) 150px center no-repeat;
    cursor: pointer;
    color: #999;
}
.hotel-info2-guest>div .approval-response-select {
	width: 99px;
	background: url(//file.40017.cn/assets/tmc/images/destination-icon.png) 78px center no-repeat;
}
.hotel-info2-contact{margin-top:10px;}
.hotel-info2-contact>input{border:1px solid #e9e9e9;width:166px;height:34px;line-height:34px;padding-left:10px;margin-right:10px;border-radius:4px;}
.hotel-info2-contact>a{color:red;}
.add-contact-person-btn{
    width:100px;
    height:30px;
    line-height:30px;
    display:block;
    background:#3097bb;
    color:#fff;
    text-align:center;
    font-size:14px;
    border-radius:4px;
    margin-top:20px;
    cursor: pointer;
}
.TMC_checkbox{width:12px;height:12px;float:left;border:1px solid #ccc;margin-right:4px;margin-top:11px;border-radius:4px; cursor:pointer;}
.checkbox_act{background:#dfedf8 url(//file.40017.cn/assets/tmc/images/gou.png) center no-repeat;}
.hotel-info2-send>p{color:#999;font-size:14px;float:left;line-height:34px;}
.hotel-info2-send>p>span{color:#333;}
.hotel-remark{width:310px;height:34px;border:1px solid #ccc;border-radius:4px;padding-left:10px;margin-top:10px;}
.TMC_radio{width:13px;height:36px;background:url(//file.40017.cn/assets/tmc/images/radio.png) center no-repeat;float:left;margin-right:6px; cursor:pointer;}
.radio_act{background-image:url(//file.40017.cn/assets/tmc/images/radio_act.png);}
.hotel-info3{width:100%;margin-bottom:50px;}
.hotel-info3 p{font-size:18px;color:#333;line-height:42px;margin-bottom:4px;}
.hotel-info3 div{color:#333;line-height:24px;font-size:14px;}
.hotel-info3 .hotel-pay-type {
    line-height: 36px;
}
.hotel-book2-right{width:356px;float:left;background:#fff;margin-top:12px;margin-left:14px;}
.right-info{background:#f5f5f5;padding:10px 26px 14px 26px;font-size:16px;line-height:32px;color:#999;}
.right-info>.hotel-name{font-size:20px;line-height:30px;color:#333;}
.right-info>.hotel-address {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}
.right-info>.house-type {
    font-size: 16px;
    color: #333;
}
.right-info>span{color:#333;margin-left: 13px;}
.right-prize{font-size:20px;color:#333;padding:24px 50px 20px 26px;}
.right-prize>p{float:right;color:#ff6600; margin-top:-8px;}
.right-prize>P>span{font-size:30px;}
.right-fee{font-size:16px;color:#333;border-bottom:1px dashed #e4e4e4;margin:0 26px;line-height:40px;}
.right-fee>p{float:right;color:#ff6600; margin-top:-2px;}
.right-fee>p>span{font-size:20px;}
.right-fee-num{color:#333;font-size:16px !important;margin-right:20px;margin-left:4px;}
.hotel-book2-right>a{color:#57ade5;font-size:16px;padding:20px 26px;display:block;margin-top:10px;}
.commit-book2{width:830px;clear:both;margin-bottom:46px;}
.commit-book2>P{color:#57ade5;padding:16px 0;}
.commit-book2>a{width:190px;height:46px; display:block;margin:10px auto;background:#ff6600;color:#fff; text-align:center;line-height:46px;font-size:18px;border-radius:4px;cursor: pointer}
/*清除浮动*/
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}
.clearfix {
    zoom: 1;
}
.commit-book2>a:hover {
    background-color: #e67007;
}
.hotel-info3 .select-box {
    width: 88px;
    height: 35px;
    border: 1px solid #e9e9e9;
    line-height: 35px;
    margin-right: 13px;
    display: inline-block;
    text-align: center;
}
.hotel-info3 .input-box {
    width: 181px;
    height: 35px;
    border: 1px solid #e9e9e9;
    padding-left: 15px;
    line-height: 35px;
    margin-right: 14px;
    display: inline-block;
}
.hotel-info3 .input-box>span{
    color: #ff6633;
}
.input-box-margin {
    margin-right: 70px;
}
.hotel-info3 .card-info {
    width: 660px;
    border: 1px solid #e9e9e9;
    padding: 14px 0 47px 22px;
    margin-top: 28px;
}
.card-type-choose>p{
    font-size: 14px;
    height: 29px;
    line-height: 29px;
    margin-left: 5px;
}
.card-type-choose .choose-card {
    color: #999;
    margin-bottom: 8px;
}
.card-type .bank-tray {
    width: 144px;
    height: 36px;
    border: 1px solid #ddd;
    margin: 16px 15px 0 0;
    cursor: pointer;
    float: left;
    padding: 4px 2px;
}
.card-type .bank-tray .bank {
    width: 130px;
    font-size: 0;
    float: left;
    height: 30px;
    overflow: hidden;
}
.card-type .bank-tray:hover {
    border:1px solid red;
}
.hotel-info3 .card-type-choose {
    margin-bottom: 31px;
}
.card-details>div {
    height: 47px;
    line-height: 47px;
}
.card-details label {
    font-size: 12px;
    width: 125px;
    text-align: left;
    display: inline-block;
    margin-left: 5px;
}
.input-common {
    width: 294px;
    height: 35px;
    line-height: 35px;
    padding-left: 12px;
    border: 1px solid #e9e9e9;
}
.select-box1 {
    width: 82px;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    border: 1px solid #e9e9e9;
    display: inline-block;
    color: #a9a9a9;
    margin-right: 10px;
    cursor: pointer;
    background: url(//file.40017.cn/assets/tmc/images/destination-icon.png) 66px center no-repeat;
}
.term-of-validity {
    color: #ccc;
}
.hotel-book2-right>img{
    width: 100%;
}
.remind-info {
    font-size: 14px;
    color: #999;
    text-align: right;
    margin: 19px 27px 25px 0;
    line-height: 22px;
}
.travel-policy {
    padding-left: 24px;
    padding-bottom: 24px;
}
.travel-policy p {
    font-size: 14px;
    line-height: 29px;
    color: #333;
}
.travel-policy .violation-reason {
    color: #f63;
}
.policy-btn {
    color: #2c9ee3;
    margin-left: 24px;
    cursor: pointer;
}
.policy-btn:hover {
    color: #1286ee;
}
.house-num-select {
    position: absolute;
    width: 140px;
    border-top: none;
    background-color: #fff;
    z-index: 99;
    border-radius: 4px;
    left: 74px;
    border-left: 1px solid #ddd;
}
.house-num-select li {
    float: left;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #ddd;
    border-left: none;
    border-top: 0;
    position: relative;
    background: #fff;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    /* display: none; */
}
.house-num-select li:hover, .settlement-way li:hover {
    background-color: #2c9ee3;
    color: #fff;
}
.prize-total>.pay {
    color: #333;
}
.hotel-info2-contact>a {
    color: red;
    cursor: pointer;
}
.settlement-way {
    position: absolute;
    border: 1px solid #e9e9e9;
    border-top: none;
    background-color: #fff;
    z-index: 999;
    display: none;
}
.settlement-way li {
    height: 35px;
    line-height: 35px;
    padding-left: 15px;
    width: 88px;
    cursor: pointer;
}
.hotel-info2 .keep-house-time {
    display: inline-block;
    width: 70px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #e9e9e9;
    padding-left: 5px;
    background: url(//file.40017.cn/assets/tmc/images/destination-icon.png) 55px center no-repeat;
    cursor: pointer;
}
.hotel-info2 .keep-house-time-list {
    width: 70px;
    border: 1px solid #e9e9e9;
    position: absolute;
    top: 35px;
    left: 138px;
    border-top: none;
    z-index: 999;
    background-color: #fff;
    display: none;
}
.hotel-info2 .keep-house-time-list li {
    height:26px;
    line-height: 26px;
    padding-left: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}
.hotel-info2 .keep-house-time-list li:hover {
    background-color: #2c9ee3;
    color: #fff;
}
.keep-house {
    overflow: inherit;
}
.keep-house .time-remind {
    color: #999;
    line-height: 17px;
    font-size: 12px;
}
.keep-house .time-remind>span {
    color: red;
    margin-left: 0;
}
.card-details .input-err {
    padding: 0 12px;
    display: block;
    position: absolute;
    z-index: 100;
    background: #f88117;
    margin-top: -2px;
    color: #fff;
    font-size: 12px;
    line-height: 28px;
}
.card-details .input-err>span {
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 0;
    border-color: transparent transparent #f88117;
    border-style: dashed dashed solid;
    border-width: 8px;
    background: 0;
    top: -15px;
    left: 15px;
}
.card-details .input-err {
    margin-left: 134px;
}
.certificates-info .input-err {
    margin-left: 234px;
}
.term-of-validity ul {
    position: absolute;
    width: 82px;
    line-height: 26px;
    border: 1px solid #e9e9e9;
    z-index: 999;
    background-color: #fff;
    top: 40px;
    border-top: none;
    cursor: pointer;
    display: none;
}
.term-of-validity .month-list {
    left: 134px;
}
.term-of-validity .year-list {
    left: 230px;
}
.term-of-validity ul>li {
    padding-left: 10px;

}
.term-of-validity ul>li:hover, .card-type-list>li:hover {
    background-color: #2c9ee3;
    color: #fff;
}
.term-of-validity .year-err {
    left: 100px;
}
.accommodation-select-list {
    position: absolute;
    width: 166px;
    border: 1px solid #e9e9e9;
    border-top: none;
    top: 34px;
    left: 0;
    border-radius: 4px;
    display: none;
    z-index: 999;
    background-color: #fff;
}
.accommodation-select-list>li {
    line-height: 30px;
    padding-left: 10px;
    cursor: pointer;
}
.accommodation-select-list>li:hover{
    background-color: #2c9ee3;
    color: #fff;
}
.right-fee .service-price {
    margin-right: 41px;
}
#travelPolicyContent li {
    margin-left: 10px;
}
.card-type-list {
    position: absolute;
    width: 82px;
    border: 1px solid #e9e9e9;
    border-top: none;
    top: 40px;
    left: 134px;
    border-radius: 4px;
    z-index: 999;
    background-color: #fff;
}
.card-type-list>li {
    line-height: 30px;
    padding-left: 10px;
    cursor: pointer;
}
.certificates-info .card-type {
    color: #333;
}
.hotel-book2-info {
    background: #fff;
    margin-top: 12px;
    padding: 28px 0 50px 26px;
}
.hotel-info2-guest>.person-liable {
    margin-right: 26px;
    float: left;
}
.hotel-info2-guest>.person-liable>.accommodation-name {
    width: 99px;
    background: url(http://file.40017.cn/assets/tmc/images/destination-icon.png) 82px center no-repeat;
}
.person-liable>p>span{
    margin: 0 10px;
}
.person-liable>.accommodation-select-list {
	position: absolute;
    width: 99px;
    border: 1px solid #e9e9e9;
    border-top: none;
    top: 34px;
    left: 70px;
    border-radius: 4px;
    /* display: none; */
    z-index: 999;
    background-color: #fff;
}
.person-liable>.accommodation-select-list>li, .approval-select-list>li {
    line-height: 30px;
    padding-left: 10px;
    cursor: pointer;
}.approval-select-list>li:hover {
	background-color: #2c9ee3;
    color: #fff;
}
.approval-select-list {
	position: absolute;
    width: 176px;
    border: 1px solid #e9e9e9;
    border-top: none;
    top: 34px;
    left: 0px;
    border-radius: 4px;
    /* display: none; */
    z-index: 999;
    background-color: #fff;
}
/*信用卡logo*/
/*中国农业银行*/
.bank_556 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -384px;}
/*中国银行*/
.bank_1 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -145px;}
/*中国建设银行*/
.bank_5 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -49px;}
/*光大银行*/
.bank_560 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -479px;}
/*兴业银行*/
.bank_564 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -624px;}
/*中信银行*/
.bank_562 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -289px;}
/*招商银行*/
.bank_558 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 0;}
/*中国民生银行*/
.bank_561 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -526px;}
/*广发银行*/
.bank_559 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -239px;}
/*中国工商银行*/
.bank_2 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -96px;}
/*宁波银行*/
.bank_568 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -817px;}
/*中国邮政*/
.bank_501 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -1636px;}
/*上海银行*/
.bank_565 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -578px;}
/*平安银行*/
.bank_566 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -671px;}
/*上海浦发银行*/
.bank_563 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -336px;}
/*交通银行*/
.bank_3 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -192px;}
/*万事达*/
.bank_6 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -1685px;}
/*威士*/
.bank_7{background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -1156px;}
/*运通*/
.bank_8{background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -1109px;}
/*JCB*/
.bank_10 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -1060px;}
/*成都农村商业银行*/
.bank_504
/*河北银行*/
.bank_520
/*华夏银行*/
.bank_567 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -768px;}
/*东亚银行*/
.bank_569 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -862px;}
/*北京银行*/
.bank_570 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -432px;}
/*江苏银行*/
.bank_571 {background: url(//pic4.40017.cn/hotel/2016/04/25/14/S60xu8.jpg) no-repeat 0 -1685px;}
/*花旗银行*/
.bank_572{}
/*差旅政策样式*/
.violation-policy .violation {
    margin-top: 7px;
}
.violation-policy .violation>p {
    font-size: 14px;
    color: #333;
    line-height: 34px;
}
.violation-policy .violation>.text {
    float: left;
    color: #ff5039;
    font-size: 14px;
    line-height: 35px;
    cursor: pointer;
}
.violation-policy .violation>.text>img {
    margin: 0 11px 2px 5px;
}
.violation-policy .violation>.select {
    border: 1px solid #e9e9e9;
    width: 208px;
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
    border-radius: 4px;
    float: left;
    background: url(//file.40017.cn/assets/tmc/images/destination-icon.png) 192px center no-repeat;
    cursor: pointer;
    color: #999;
    font-size: 14px;
    margin-right: 19px;
}
.violation-policy .violation textarea {
    width: 260px;
    max-width: 260px;
    height: 74px;
    border-radius: 4px;
    border: 1px solid #e9e9e9;
    padding: 0 10px;
    line-height: 26px;
}
.remarks {
    float: left;
}
.violation-policy .violation span {
    vertical-align: top;
    line-height: 42px;
    color: #f63;
    font-size: 14px;
    margin-right: 4px;
}
.violation-select-list {
    position: absolute;
    width: 208px;
    border: 1px solid #e9e9e9;
    border-top: none;
    top: 34px;
    left: 118px;
    font-size: 14px;
    border-radius: 4px;
    /*display: none;*/
    z-index: 19;
    background-color: #fff;
}
.violation-select-list>li {
    line-height: 30px;
    padding-left: 10px;
    cursor: pointer;
}
.violation-select-list>li:hover {
    background-color: #2c9ee3;
    color: #fff;
}
.hotel-policy {
    position: absolute;
    top: 30px;
    left: 0;
    color: #666;
    z-index: 200;
    border: 1px solid #8ad3ff;
    background: #fff;
    width: 300px;
    padding: 10px;
    line-height: 26px;
    /*display:none;*/
    font-size: 12px;
}
.hotel-policy>span {
    width: 10px;
    height: 5px;
    background: url(//file.40017.cn/assets/tmc/images/tc-top.png) center no-repeat;
    position: absolute;
    top: -5px;
    left: 10px;
}
.hotel-policy>div>p {
    font-size: 14px;
    color: #333;
    line-height: 34px;
}
.person-select-wrap {
    float: left;
    width: 85%;
}
.person-select {
    float: left;
    margin: 0 9px 9px 0;
}